# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

Participation Rate, Verbal score, Math score by state 
sorted by rate, with an average of all state scores at the bottom

##### 2. Does the data look complete? Are there any obvious issues with the observations?

not categorized properly

##### 3. Create a data dictionary for the dataset.

In [1]:
##import outside information for necassary operations
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns
%matplotlib inline

##create empty dictionary to fill   
sat_scores= {}

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [2]:
## import SAT information into a list called rows
SAT_scores_path= '/Users/samanthafalk/GA-DSI/Projects/project-01/assets/sat_scores.csv'
rows=[]
with open (SAT_scores_path, 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        rows.append(row)
        print row

['State', 'Rate', 'Verbal', 'Math']
['CT', '82', '509', '510']
['NJ', '81', '499', '513']
['MA', '79', '511', '515']
['NY', '77', '495', '505']
['NH', '72', '520', '516']
['RI', '71', '501', '499']
['PA', '71', '500', '499']
['VT', '69', '511', '506']
['ME', '69', '506', '500']
['VA', '68', '510', '501']
['DE', '67', '501', '499']
['MD', '65', '508', '510']
['NC', '65', '493', '499']
['GA', '63', '491', '489']
['IN', '60', '499', '501']
['SC', '57', '486', '488']
['DC', '56', '482', '474']
['OR', '55', '526', '526']
['FL', '54', '498', '499']
['WA', '53', '527', '527']
['TX', '53', '493', '499']
['HI', '52', '485', '515']
['AK', '51', '514', '510']
['CA', '51', '498', '517']
['AZ', '34', '523', '525']
['NV', '33', '509', '515']
['CO', '31', '539', '542']
['OH', '26', '534', '439']
['MT', '23', '539', '539']
['WV', '18', '527', '512']
['ID', '17', '543', '542']
['TN', '13', '562', '553']
['NM', '13', '551', '542']
['IL', '12', '576', '589']
['KY', '12', '550', '550']
['WY', '11', '547', '545']
['MI', '11', '561', '572']
['MN', '9', '580', '589']
['KS', '9', '577', '580']
['AL', '9', '559', '554']
['NE', '8', '562', '568']
['OK', '8', '567', '561']
['MO', '8', '577', '577']
['LA', '7', '564', '562']
['WI', '6', '584', '596']
['AR', '6', '562', '550']
['UT', '5', '575', '570']
['IA', '5', '593', '603']
['SD', '4', '577', '582']
['ND', '4', '592', '599']
['MS', '4', '566', '551']
['All', '45', '506', '514']

##### 5. Print the data

In [3]:
print rows

[['State', 'Rate', 'Verbal', 'Math'], ['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551'], ['All', '45', '506', '514']]

In [4]:
#remove "all" and define data without header
data= rows[1:-1]
print data

[['CT', '82', '509', '510'], ['NJ', '81', '499', '513'], ['MA', '79', '511', '515'], ['NY', '77', '495', '505'], ['NH', '72', '520', '516'], ['RI', '71', '501', '499'], ['PA', '71', '500', '499'], ['VT', '69', '511', '506'], ['ME', '69', '506', '500'], ['VA', '68', '510', '501'], ['DE', '67', '501', '499'], ['MD', '65', '508', '510'], ['NC', '65', '493', '499'], ['GA', '63', '491', '489'], ['IN', '60', '499', '501'], ['SC', '57', '486', '488'], ['DC', '56', '482', '474'], ['OR', '55', '526', '526'], ['FL', '54', '498', '499'], ['WA', '53', '527', '527'], ['TX', '53', '493', '499'], ['HI', '52', '485', '515'], ['AK', '51', '514', '510'], ['CA', '51', '498', '517'], ['AZ', '34', '523', '525'], ['NV', '33', '509', '515'], ['CO', '31', '539', '542'], ['OH', '26', '534', '439'], ['MT', '23', '539', '539'], ['WV', '18', '527', '512'], ['ID', '17', '543', '542'], ['TN', '13', '562', '553'], ['NM', '13', '551', '542'], ['IL', '12', '576', '589'], ['KY', '12', '550', '550'], ['WY', '11', '547', '545'], ['MI', '11', '561', '572'], ['MN', '9', '580', '589'], ['KS', '9', '577', '580'], ['AL', '9', '559', '554'], ['NE', '8', '562', '568'], ['OK', '8', '567', '561'], ['MO', '8', '577', '577'], ['LA', '7', '564', '562'], ['WI', '6', '584', '596'], ['AR', '6', '562', '550'], ['UT', '5', '575', '570'], ['IA', '5', '593', '603'], ['SD', '4', '577', '582'], ['ND', '4', '592', '599'], ['MS', '4', '566', '551']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [5]:
#note header for iteration
header=rows[0]
print header

['State', 'Rate', 'Verbal', 'Math']

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [6]:
#note which rows are data, no need for all as it is a reflection of the data as a summary
state_names= []
for row in data:
    state_names.append(row[0])
print state_names

['CT', 'NJ', 'MA', 'NY', 'NH', 'RI', 'PA', 'VT', 'ME', 'VA', 'DE', 'MD', 'NC', 'GA', 'IN', 'SC', 'DC', 'OR', 'FL', 'WA', 'TX', 'HI', 'AK', 'CA', 'AZ', 'NV', 'CO', 'OH', 'MT', 'WV', 'ID', 'TN', 'NM', 'IL', 'KY', 'WY', 'MI', 'MN', 'KS', 'AL', 'NE', 'OK', 'MO', 'LA', 'WI', 'AR', 'UT', 'IA', 'SD', 'ND', 'MS']

##### 8. Print the types of each column

In [7]:
for row in data:
    for item in row:
        print item, type(item)

CT <type 'str'>
82 <type 'str'>
509 <type 'str'>
510 <type 'str'>
NJ <type 'str'>
81 <type 'str'>
499 <type 'str'>
513 <type 'str'>
MA <type 'str'>
79 <type 'str'>
511 <type 'str'>
515 <type 'str'>
NY <type 'str'>
77 <type 'str'>
495 <type 'str'>
505 <type 'str'>
NH <type 'str'>
72 <type 'str'>
520 <type 'str'>
516 <type 'str'>
RI <type 'str'>
71 <type 'str'>
501 <type 'str'>
499 <type 'str'>
PA <type 'str'>
71 <type 'str'>
500 <type 'str'>
499 <type 'str'>
VT <type 'str'>
69 <type 'str'>
511 <type 'str'>
506 <type 'str'>
ME <type 'str'>
69 <type 'str'>
506 <type 'str'>
500 <type 'str'>
VA <type 'str'>
68 <type 'str'>
510 <type 'str'>
501 <type 'str'>
DE <type 'str'>
67 <type 'str'>
501 <type 'str'>
499 <type 'str'>
MD <type 'str'>
65 <type 'str'>
508 <type 'str'>
510 <type 'str'>
NC <type 'str'>
65 <type 'str'>
493 <type 'str'>
499 <type 'str'>
GA <type 'str'>
63 <type 'str'>
491 <type 'str'>
489 <type 'str'>
IN <type 'str'>
60 <type 'str'>
499 <type 'str'>
501 <type 'str'>
SC <type 'str'>
57 <type 'str'>
486 <type 'str'>
488 <type 'str'>
DC <type 'str'>
56 <type 'str'>
482 <type 'str'>
474 <type 'str'>
OR <type 'str'>
55 <type 'str'>
526 <type 'str'>
526 <type 'str'>
FL <type 'str'>
54 <type 'str'>
498 <type 'str'>
499 <type 'str'>
WA <type 'str'>
53 <type 'str'>
527 <type 'str'>
527 <type 'str'>
TX <type 'str'>
53 <type 'str'>
493 <type 'str'>
499 <type 'str'>
HI <type 'str'>
52 <type 'str'>
485 <type 'str'>
515 <type 'str'>
AK <type 'str'>
51 <type 'str'>
514 <type 'str'>
510 <type 'str'>
CA <type 'str'>
51 <type 'str'>
498 <type 'str'>
517 <type 'str'>
AZ <type 'str'>
34 <type 'str'>
523 <type 'str'>
525 <type 'str'>
NV <type 'str'>
33 <type 'str'>
509 <type 'str'>
515 <type 'str'>
CO <type 'str'>
31 <type 'str'>
539 <type 'str'>
542 <type 'str'>
OH <type 'str'>
26 <type 'str'>
534 <type 'str'>
439 <type 'str'>
MT <type 'str'>
23 <type 'str'>
539 <type 'str'>
539 <type 'str'>
WV <type 'str'>
18 <type 'str'>
527 <type 'str'>
512 <type 'str'>
ID <type 'str'>
17 <type 'str'>
543 <type 'str'>
542 <type 'str'>
TN <type 'str'>
13 <type 'str'>
562 <type 'str'>
553 <type 'str'>
NM <type 'str'>
13 <type 'str'>
551 <type 'str'>
542 <type 'str'>
IL <type 'str'>
12 <type 'str'>
576 <type 'str'>
589 <type 'str'>
KY <type 'str'>
12 <type 'str'>
550 <type 'str'>
550 <type 'str'>
WY <type 'str'>
11 <type 'str'>
547 <type 'str'>
545 <type 'str'>
MI <type 'str'>
11 <type 'str'>
561 <type 'str'>
572 <type 'str'>
MN <type 'str'>
9 <type 'str'>
580 <type 'str'>
589 <type 'str'>
KS <type 'str'>
9 <type 'str'>
577 <type 'str'>
580 <type 'str'>
AL <type 'str'>
9 <type 'str'>
559 <type 'str'>
554 <type 'str'>
NE <type 'str'>
8 <type 'str'>
562 <type 'str'>
568 <type 'str'>
OK <type 'str'>
8 <type 'str'>
567 <type 'str'>
561 <type 'str'>
MO <type 'str'>
8 <type 'str'>
577 <type 'str'>
577 <type 'str'>
LA <type 'str'>
7 <type 'str'>
564 <type 'str'>
562 <type 'str'>
WI <type 'str'>
6 <type 'str'>
584 <type 'str'>
596 <type 'str'>
AR <type 'str'>
6 <type 'str'>
562 <type 'str'>
550 <type 'str'>
UT <type 'str'>
5 <type 'str'>
575 <type 'str'>
570 <type 'str'>
IA <type 'str'>
5 <type 'str'>
593 <type 'str'>
603 <type 'str'>
SD <type 'str'>
4 <type 'str'>
577 <type 'str'>
582 <type 'str'>
ND <type 'str'>
4 <type 'str'>
592 <type 'str'>
599 <type 'str'>
MS <type 'str'>
4 <type 'str'>
566 <type 'str'>
551 <type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [9]:
#remove state from data info
for lst in data:
    lst.remove(lst[0])
print data

[['82', '509', '510'], ['81', '499', '513'], ['79', '511', '515'], ['77', '495', '505'], ['72', '520', '516'], ['71', '501', '499'], ['71', '500', '499'], ['69', '511', '506'], ['69', '506', '500'], ['68', '510', '501'], ['67', '501', '499'], ['65', '508', '510'], ['65', '493', '499'], ['63', '491', '489'], ['60', '499', '501'], ['57', '486', '488'], ['56', '482', '474'], ['55', '526', '526'], ['54', '498', '499'], ['53', '527', '527'], ['53', '493', '499'], ['52', '485', '515'], ['51', '514', '510'], ['51', '498', '517'], ['34', '523', '525'], ['33', '509', '515'], ['31', '539', '542'], ['26', '534', '439'], ['23', '539', '539'], ['18', '527', '512'], ['17', '543', '542'], ['13', '562', '553'], ['13', '551', '542'], ['12', '576', '589'], ['12', '550', '550'], ['11', '547', '545'], ['11', '561', '572'], ['9', '580', '589'], ['9', '577', '580'], ['9', '559', '554'], ['8', '562', '568'], ['8', '567', '561'], ['8', '577', '577'], ['7', '564', '562'], ['6', '584', '596'], ['6', '562', '550'], ['5', '575', '570'], ['5', '593', '603'], ['4', '577', '582'], ['4', '592', '599'], ['4', '566', '551']]

In [12]:
#change numbers (not states) to integers instead of strings

data=[[int(item) for item in row] for row in data]
print data

[[82, 509, 510], [81, 499, 513], [79, 511, 515], [77, 495, 505], [72, 520, 516], [71, 501, 499], [71, 500, 499], [69, 511, 506], [69, 506, 500], [68, 510, 501], [67, 501, 499], [65, 508, 510], [65, 493, 499], [63, 491, 489], [60, 499, 501], [57, 486, 488], [56, 482, 474], [55, 526, 526], [54, 498, 499], [53, 527, 527], [53, 493, 499], [52, 485, 515], [51, 514, 510], [51, 498, 517], [34, 523, 525], [33, 509, 515], [31, 539, 542], [26, 534, 439], [23, 539, 539], [18, 527, 512], [17, 543, 542], [13, 562, 553], [13, 551, 542], [12, 576, 589], [12, 550, 550], [11, 547, 545], [11, 561, 572], [9, 580, 589], [9, 577, 580], [9, 559, 554], [8, 562, 568], [8, 567, 561], [8, 577, 577], [7, 564, 562], [6, 584, 596], [6, 562, 550], [5, 575, 570], [5, 593, 603], [4, 577, 582], [4, 592, 599], [4, 566, 551]]

In [13]:
#check item data type
for row in data:
    for item in row:
        print item, type(item)

82 <type 'int'>
509 <type 'int'>
510 <type 'int'>
81 <type 'int'>
499 <type 'int'>
513 <type 'int'>
79 <type 'int'>
511 <type 'int'>
515 <type 'int'>
77 <type 'int'>
495 <type 'int'>
505 <type 'int'>
72 <type 'int'>
520 <type 'int'>
516 <type 'int'>
71 <type 'int'>
501 <type 'int'>
499 <type 'int'>
71 <type 'int'>
500 <type 'int'>
499 <type 'int'>
69 <type 'int'>
511 <type 'int'>
506 <type 'int'>
69 <type 'int'>
506 <type 'int'>
500 <type 'int'>
68 <type 'int'>
510 <type 'int'>
501 <type 'int'>
67 <type 'int'>
501 <type 'int'>
499 <type 'int'>
65 <type 'int'>
508 <type 'int'>
510 <type 'int'>
65 <type 'int'>
493 <type 'int'>
499 <type 'int'>
63 <type 'int'>
491 <type 'int'>
489 <type 'int'>
60 <type 'int'>
499 <type 'int'>
501 <type 'int'>
57 <type 'int'>
486 <type 'int'>
488 <type 'int'>
56 <type 'int'>
482 <type 'int'>
474 <type 'int'>
55 <type 'int'>
526 <type 'int'>
526 <type 'int'>
54 <type 'int'>
498 <type 'int'>
499 <type 'int'>
53 <type 'int'>
527 <type 'int'>
527 <type 'int'>
53 <type 'int'>
493 <type 'int'>
499 <type 'int'>
52 <type 'int'>
485 <type 'int'>
515 <type 'int'>
51 <type 'int'>
514 <type 'int'>
510 <type 'int'>
51 <type 'int'>
498 <type 'int'>
517 <type 'int'>
34 <type 'int'>
523 <type 'int'>
525 <type 'int'>
33 <type 'int'>
509 <type 'int'>
515 <type 'int'>
31 <type 'int'>
539 <type 'int'>
542 <type 'int'>
26 <type 'int'>
534 <type 'int'>
439 <type 'int'>
23 <type 'int'>
539 <type 'int'>
539 <type 'int'>
18 <type 'int'>
527 <type 'int'>
512 <type 'int'>
17 <type 'int'>
543 <type 'int'>
542 <type 'int'>
13 <type 'int'>
562 <type 'int'>
553 <type 'int'>
13 <type 'int'>
551 <type 'int'>
542 <type 'int'>
12 <type 'int'>
576 <type 'int'>
589 <type 'int'>
12 <type 'int'>
550 <type 'int'>
550 <type 'int'>
11 <type 'int'>
547 <type 'int'>
545 <type 'int'>
11 <type 'int'>
561 <type 'int'>
572 <type 'int'>
9 <type 'int'>
580 <type 'int'>
589 <type 'int'>
9 <type 'int'>
577 <type 'int'>
580 <type 'int'>
9 <type 'int'>
559 <type 'int'>
554 <type 'int'>
8 <type 'int'>
562 <type 'int'>
568 <type 'int'>
8 <type 'int'>
567 <type 'int'>
561 <type 'int'>
8 <type 'int'>
577 <type 'int'>
577 <type 'int'>
7 <type 'int'>
564 <type 'int'>
562 <type 'int'>
6 <type 'int'>
584 <type 'int'>
596 <type 'int'>
6 <type 'int'>
562 <type 'int'>
550 <type 'int'>
5 <type 'int'>
575 <type 'int'>
570 <type 'int'>
5 <type 'int'>
593 <type 'int'>
603 <type 'int'>
4 <type 'int'>
577 <type 'int'>
582 <type 'int'>
4 <type 'int'>
592 <type 'int'>
599 <type 'int'>
4 <type 'int'>
566 <type 'int'>
551 <type 'int'>

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [19]:
##iterate through states and values and group in dictionary if index matches between state and list 

##create empty dictionary to fill   
sat_scores_by_state= {}
for state in state_names:
    for row in data:
        for item in row:
            if data.index(row)==state_names.index(state):
                   sat_scores_by_state.setdefault(state,[]).append(item)
print sat_scores_by_state

{'WA': [53, 527, 527], 'DE': [67, 501, 499], 'DC': [56, 482, 474], 'WI': [6, 584, 596], 'WV': [18, 527, 512], 'HI': [52, 485, 515], 'FL': [54, 498, 499], 'WY': [11, 547, 545], 'NH': [72, 520, 516], 'NJ': [81, 499, 513], 'NM': [13, 551, 542], 'TX': [53, 493, 499], 'LA': [7, 564, 562], 'NC': [65, 493, 499], 'ND': [4, 592, 599], 'NE': [8, 562, 568], 'TN': [13, 562, 553], 'NY': [77, 495, 505], 'PA': [71, 500, 499], 'RI': [71, 501, 499], 'NV': [33, 509, 515], 'VA': [68, 510, 501], 'CO': [31, 539, 542], 'AK': [51, 514, 510], 'AL': [9, 559, 554], 'AR': [6, 562, 550], 'VT': [69, 511, 506], 'IL': [12, 576, 589], 'GA': [63, 491, 489], 'IN': [60, 499, 501], 'IA': [5, 593, 603], 'OK': [8, 567, 561], 'AZ': [34, 523, 525], 'CA': [51, 498, 517], 'ID': [17, 543, 542], 'CT': [82, 509, 510], 'ME': [69, 506, 500], 'MD': [65, 508, 510], 'MA': [79, 511, 515], 'OH': [26, 534, 439], 'UT': [5, 575, 570], 'MO': [8, 577, 577], 'MN': [9, 580, 589], 'MI': [11, 561, 572], 'KS': [9, 577, 580], 'MT': [23, 539, 539], 'MS': [4, 566, 551], 'SC': [57, 486, 488], 'KY': [12, 550, 550], 'OR': [55, 526, 526], 'SD': [4, 577, 582]}

In [21]:
#TEST
sat_scores_by_state['CT']

[82, 509, 510]

##### 11. Create a dictionary with the values for each of the numeric columns

In [23]:
#remove state header
header=header[1:]
header

['Rate', 'Verbal', 'Math']

In [24]:
##iterate through columns and values and group in dictionary if index matches between two items

##create empty dictionary to fill   
sat_scores_by_column= {}

for head in header:
    for row in data:
        for item in row:
            if row.index(item)==header.index(head):
                   sat_scores_by_column.setdefault(head,[]).append(item)
print sat_scores_by_column

{'Rate': [82, 81, 79, 77, 72, 71, 71, 69, 69, 68, 67, 65, 65, 63, 60, 57, 56, 55, 54, 53, 53, 52, 51, 51, 34, 33, 31, 26, 23, 18, 17, 13, 13, 12, 12, 11, 11, 9, 9, 9, 8, 8, 8, 7, 6, 6, 5, 5, 4, 4, 4], 'Math': [510, 513, 515, 505, 516, 499, 499, 506, 500, 501, 499, 510, 499, 489, 501, 488, 474, 499, 499, 515, 510, 517, 525, 515, 542, 439, 512, 542, 553, 542, 589, 545, 572, 589, 580, 554, 568, 561, 562, 596, 550, 570, 603, 582, 599, 551], 'Verbal': [509, 499, 511, 495, 520, 501, 500, 511, 506, 510, 501, 508, 493, 491, 499, 486, 482, 526, 526, 498, 527, 527, 493, 485, 514, 498, 523, 509, 539, 534, 539, 539, 527, 543, 562, 551, 576, 550, 550, 547, 561, 580, 577, 559, 562, 567, 577, 577, 564, 584, 562, 575, 593, 577, 592, 566]}

## Step 3: Describe the data

##### 12. Print the min and max of each column

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.