# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [83]:
#Import and Load
import pandas as pd
import numpy as np

## Load the data into a DataFrame
djs = pd.read_csv('/Users/pivit/DSI-NYC-2/projects/projects-weekly/project-03/starter-code/Iowa_Liquor_sales_sample_10pct.csv', encoding='latin-1')
djs.head(2)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/4/15,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,3/2/16,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40

In [89]:
##Converting to Floats

djs['State Bottle Cost'] = (djs['State Bottle Cost'].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float))
djs['State Bottle Retail'] = (djs['State Bottle Retail'].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float))
djs['Sale (Dollars)'] = (djs['Sale (Dollars)'].replace( '[\$,)]','', regex=True ).replace( '[(]','-',   regex=True ).astype(float))
djs.head(3)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34

In [113]:
# def county_filler():
#     for x in data:
#         if x[1] == nan:
djs.head(10)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.00,2.38
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.50,0.40
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.00,6.34
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.50,2.77
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.00,5.55
5,2015-04-20,2569,CEDAR RAPIDS,52402,57.0,Linn,1041100.0,AMERICAN DRY GINS,205,31473,New Amsterdam Gin,1750,13.32,19.98,6,119.88,10.50,2.77
6,2015-08-05,2596,OTTUMWA,52501,90.0,Wapello,1051010.0,AMERICAN GRAPE BRANDIES,85,52806,Korbel Brandy,750,6.66,9.99,3,29.97,2.25,0.59
7,2015-06-25,3456,CLEAR LAKE,50428,17.0,Cerro Gordo,1012100.0,CANADIAN WHISKIES,65,10628,Canadian Club Whisky,1750,15.75,23.63,2,47.26,3.50,0.92
8,2016-01-04,4757,BONDURANT,50035,77.0,Polk,1032080.0,IMPORTED VODKA,370,34006,Absolut Swedish Vodka 80 Prf,750,11.49,17.24,4,68.96,3.00,0.79
9,2015-11-10,4346,SHELLSBURG,52332,6.0,Benton,1081315.0,CINNAMON SCHNAPPS,65,82610,Dekuyper Hot Damn!,1000,7.62,11.43,2,22.86,2.00,0.53

In [92]:
#Transform the dates if needed, e.g.
djs['Date'] = pd.to_datetime(djs["Date"])

In [108]:
djs['City'] = map(lambda x: x.upper(), djs['City'])

In [116]:
djs_by_location = djs.groupby(['County', 'City', 'Zip Code'])['Sale (Dollars)'].agg(([np.sum]))
djs_by_location

                                          sum
County     City           Zip Code
Adair      ADAIR          50002       5851.20
           FONTANELLE     50846       8912.49
           GREENFIELD     50849      16924.57
           STUART         50250      23893.08
Adams      CORNING        50841      12441.71
Allamakee  HARPERS FERRY  52146       4105.18
           LANSING        52151      10476.62
           POSTVILLE      52162       4436.50
           WAUKON         52172      80006.46
Appanoose  CENTERVILLE    52544      91205.88
           MORAVIA        52571       7321.28
Audubon    AUDUBON        50025      16447.52
           EXIRA          50076       3208.02
Benton     BELLE PLAINE   52208      33868.17
           SHELLSBURG     52332      10709.11
           URBANA         52345       3011.52
           VINTON         52349      32474.81
Black Hawk CEDAR FALLS    50613     627366.95
                          50647      21201.56
           EVANSDALE      50707      38940.29
           GILBERTVILLE   50634        407.61
           HUDSON         50643       5551.01
           LA PORTE CITY  50651      14929.26
           RAYMOND        50667       7398.20
           WASHBURN       50702       2275.02
           WATERLOO       50701     260375.28
                          50702     460694.01
                          50703     480572.03
                          50707      17080.57
Boone      BOONE          50036     169638.48
...                                       ...
Wayne      CORYDON        50060      10268.42
           HUMESTON       50123       2665.20
Webster    ACKLEY         50601       2602.00
           DAYTON         50530       7354.90
           FORT DODGE     50501     402322.29
           GOWRIE         50543      12564.84
           NEWTON         50702      18019.35
           OTHO           50569       1962.12
Winnebago  BUFFALO CENTER 50424       8672.07
           FOREST CITY    50436      70874.18
           LAKE MILLS     50450      15812.71
Winneshiek DECORAH        52101     135679.61
           FORT ATKINSON  52144      13475.13
Woodbury   ANTHON         51004      10378.52
           SERGEANT BLUFF 51054      27773.39
           SIOUX CITY     51101      73575.50
                          51103     244250.02
                          51104     148875.14
                          51105     127885.10
                          51106     499319.14
                          51108      94508.66
                          51109      15839.02
           SLOAN          51055      10755.40
Worth      MANLY          50456       3011.24
           NORTHWOOD      50459      34628.05
Wright     BELMOND        50421      22133.51
           CLARION        50525      15696.19
           DOWS           50071       2011.62
           EAGLE GROVE    50533      38063.50
           GOLDFIELD      50542       2300.04

[443 rows x 1 columns]

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [66]:
import seaborn as sns
import matplotlib.pyplot as plt

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [6]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.